// Base Colors
$color-white: #fff;
$color-black: #000;
$color-font: #2c3e50;

// Primary Colors
$color-primary: #2ecc71;
$color-primary-light: #40d47e;
$color-primary-dark: #2fd073;

$color-secondary: #3e5da0;
